# STM32F030K6 + CMSIS-DAP (DAP-Link / MuseLab) for OpenOCD 0.12+

source [find interface/cmsis-dap.cfg]
transport select swd
adapter speed 1000

source [find target/stm32f0x.cfg]

reset_config srst_only srst_nogate
